body {
  background-color: darkblue; }
  body h1 {
    color: green; }
  body p {
    color: white; }

header h1 {
  color: green;
  font-family: "Lobster", cursive; }

#container {
  box-shadow: rgba(0, 255, 64, 0.25) 0px 54px 55px, rgba(7, 255, 49, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 255, 64, 0.17) 0px 12px 13px, rgba(0, 255, 21, 0.09) 0px -3px 5px; }
